stringUtilityCSharp/obj
stringUtilityCSharp/bin
stringUtilityCSharpConsumedByCSharp/obj
stringUtilityCSharpConsumedByCSharp/bin
stringUtilityCSharpConsumedByVB/obj
stringUtilityCSharpConsumedByVB/bin
